<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>영화 정보 사이트</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <a href="/" id="website-title">
        <h1 id="web-title">영화 정보 사이트</h1>
      </a>
      <nav class="nav-icon">
        <ul>
          <li>
            <a href="/" id="home-icon"><i class="fa-solid fa-house"></i></a>
          </li>
          <li>
            <p id="back-icon"><i class="fa-solid fa-arrow-left"></i></p>
          </li>
          <li>
            <p id="refresh-icon"><i class="fa-solid fa-rotate-right"></i></p>
          </li>
        </ul>
      </nav>
    </header>
    <div id="login-box">
      <form action="/login" method="post">
        <div class="form-group">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="아이디 입력"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="비밀번호 입력"
            required
          />
        </div>
        <button type="submit">로그인</button>
        <a href="/join" id="join-string">회원 가입</a>
      </form>
    </div>
    <main>
      <div id="movies-container">
        <!-- 초기 로딩 문구 -->
      </div>
    </main>
    <footer>
      <p>&copy; 2023 영화 정보 사이트</p>
    </footer>
    <script src="/js/index.js"></script>
    <script
      src="https://kit.fontawesome.com/45a3fcb962.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
