<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title id="movie-detail-title">FAKEFLIX</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/" id="website-title">
        <h1 id="web-title">FAKEFLIX</h1>
      </a>
      <nav class="nav-icon">
        <ul>
          <li>
            <a href="/" id="home-icon"><i class="fa-solid fa-house"></i></a>
          </li>
          <li>
            <p id="back-icon"><i class="fa-solid fa-arrow-left"></i></p>
          </li>
          <li>
            <p id="refresh-icon"><i class="fa-solid fa-rotate-right"></i></p>
          </li>
          <li>
            <p id="sort-icon"><i class="fa-solid fa-bars"></i></p>
          </li>
          <li>
            <div id="sort-menu">
              <span id="sort-title">title</span>
              <span id="sort-rating">rating</span>
              <span id="sort-year">year</span>              
            </div>
          </li>
          <li>
            <p id="search-icon"><i class="fa-solid fa-magnifying-glass"></i></p>
          </li>
          <li>
            <input type="text" id="search-input" placeholder="Quick search"/>
            <div id="search-results" class="hidden"></div>
            <div id="search-loading-icon" class="hidden"><i class="fa-solid fa-spinner"></i></div>
          </li>
        </ul>
      </nav>
    </header>
    <div id="login-box" class="login-box-movie">
      <form action="/login" method="post" id="login-form">
        <div class="form-group">
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <button type="submit">Log in</button>
        <a href="/signup" id="signup-string">Sign up</a>
      </form>
    </div>
    <div id="loggedin-box">
      <div id="loggedin-icons">
        <span id="user-icon"><i class="fa-solid fa-user"></i></span>
        <span id="loggedin-username"></span>
        <!-- <span id="rating-icon"><i class="fa-solid fa-star"></i></span> -->
        <!-- <span id="like-icon"><i class="fa-solid fa-heart"></i></span> -->
      </div>
      <button id="logout-button">Log out</button>
    </div>
    <main id="movie-main">
      <div id="movie-container">
        <div class="movie-info">
          <img id="movie-image" src="" alt="Movie poster" />
          <div class="movie-detail">
            <h1 id="movie-title"></h1>
            <p id="movie-genres"></p>
            <p id="movie-runtime"></p>
            <p id="movie-language"></p>
            <p id="imdb-rating"></p>
            <p id="movie-rating">
              <span id="rating-label"><i class="fa-solid fa-star"></i></span>
              <span id="avg-rating"></span>
            </p>
            <p id="movie-like">
              <span id="like-label"><i class="fa-regular fa-heart"></i></span>
              <span id="total-like"></span>
            </p>
            <p id="movie-more"></p>
          </div>
          <div id="nav-movies">            
            <div id="prev-movie"></div>
            <div id="next-movie"></div>
          </div>
        </div>
        <div class="movie-story">
          <p id="movie-description"></p>
        </div>
      </div>
      <div class="movie-reviews">
        <h2>Reviews</h2>
        <form id="review-form">
          <div class="rating_box">
            <div class="rating">
              ★★★★★
              <span class="rating_star">★★★★★</span>
              <input type="range" value="0" step="1" min="0" max="10">
            </div>
            <textarea
            id="review-text"
            maxlength="100"
            placeholder="Wirte your review."
            required
            ></textarea>
            <button type="submit" id="submit-review">Submit</button>
            <button type="submit" id="modify-review">Modify</button>
          </div>
        </form>
        <div id="reviews-list">
          <!-- 댓글들이 여기에 추가됩니다 -->
        </div>
        <div id="reviews-pagination-container"></div>
      </div>
      <div id="left-movie"><i class="fa-solid fa-circle-chevron-left"></i></div>
      <div id="right-movie"><i class="fa-solid fa-circle-chevron-right"></i></div>      
    </main>
    <footer>
      <p>&copy; 2023 &nbsp;<p id="footer-text">FAKEFLIX</p></p>
    </footer>
    <script type="module" src="/js/movie.js"></script>
    <script
      src="https://kit.fontawesome.com/45a3fcb962.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
