<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>FAKEFLIX</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/" id="website-title">
        <h1 id="web-title">FAKEFLIX</h1>
      </a>
      <nav class="nav-icon">
        <ul>
          <li>
            <a href="/" id="home-icon"><i class="fa-solid fa-house"></i></a>
          </li>
          <li>
            <p id="back-icon"><i class="fa-solid fa-arrow-left"></i></p>
          </li>
          <li>
            <p id="refresh-icon"><i class="fa-solid fa-rotate-right"></i></p>
          </li>
        </ul>
      </nav>
    </header>
    <form action="/register" method="post" id="signup-form
    " class="info">
      <h1>SIGN UP</h1>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Username"
        required
      /><br />
      <div id="id-msg"></div>

      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        required
      /><br />
      <div id="email-msg"></div>

      <input
        type="password"
        id="info__pw"
        name="password"
        placeholder="Password"
        required
      /><br />
      <div id="pw-msg"></div>

      <input
        type="password"
        id="info__pwRe"
        name="password"
        placeholder="Confirm a password"
        required
      /><br />
      <div id="pwRe-msg"></div>

      <div class="info-birth">
        <select class="box" id="birth-year">
          <option disabled selected>Year</option>
        </select>
        <select class="box" id="birth-month">
          <option disabled selected>Month</option>
        </select>
        <select class="box" id="birth-day">
          <option disabled selected>Day</option>
        </select>
      </div>

      <button type="submit">Submit</button>
    </form>

    <footer>
      <p>&copy; 2023 &nbsp;<p id="footer-text">FAKEFLIX</p></p>
    </footer>
    <script type="module" src="/js/signup.js"></script>
    <script
      src="https://kit.fontawesome.com/45a3fcb962.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
