/* 푸터 스타일 설정 */
footer {
  background-color: #000; /* 푸터 배경색 */
  color: white; /* 푸터 내 텍스트 색상 */
  text-align: center; /* 텍스트 중앙 정렬 */
  padding: 0.5rem 1rem; /* 상하 패딩 0.5rem, 좌우 패딩 1rem 설정 */
  position: fixed; /* 푸터를 하단에 고정 */
  bottom: 0; /* 하단에서 0의 위치 */
  left: 0; /* 왼쪽에서 0의 위치 */
  right: 0; /* 오른쪽에서 0의 위치 */
  height: 20px; /* 푸터 높이 설정 */
  display: flex; /* Flexbox 레이아웃 적용 */
  align-items: center; /* 내부 요소를 수직 중앙에 배치 */
  justify-content: center; /* 내부 요소를 수평 중앙에 배치 */
}
