/* 영화 목록 컨테이너에 flex 속성을 적용하여 영화 목록을 유연하게 배치 */
#movies-container {
  display: flex; /* Flexbox 레이아웃 적용 */
  flex-wrap: wrap; /* 요소들이 컨테이너 너비를 초과할 경우 다음 줄로 이동 */
  justify-content: space-around; /* 요소들 사이에 균등한 간격 배치 */
  display: flex; /* Flexbox 레이아웃 적용 */
  justify-content: center; /* 수평 중앙 정렬 */
  flex-grow: 1; /* 남은 공간을 채우도록 설정 */
}

/* 각 영화를 나타내는 컨테이너에 대한 스타일 정의 */
#movies-container div {
  margin-bottom: 20px; /* 각 영화 컨테이너 하단에 여백 추가 */
  width: 250px; /* 각 영화 컨테이너의 너비 고정 */
  box-sizing: border-box; /* 패딩과 테두리를 너비 계산에 포함 */
  text-align: center; /* 텍스트를 중앙 정렬 */
}

/* 영화 이미지 스타일 */
#movies-container img {
  max-width: 100%; /* 컨테이너 너비에 맞춰 이미지 최대 너비 설정 */
  height: auto; /* 이미지 높이를 자동으로 조정 */
  margin-bottom: 15px; /* 이미지 아래 여백 설정 */
  border-radius: 10px; /* 이미지 모서리 둥글게 처리 */
  cursor: pointer; /* 마우스 커서를 포인터 모양으로 변경 */
}

/* 이미지에 마우스를 올렸을 때 */
#movies-container img:hover {
  transform: scale(1.05); /* 이미지를 5% 더 크게 확대 */
}

#movies-container img:hover + h3 {
  color: red; /* h3 태그의 색상 변경 */
}

/* 영화 제목 스타일 */
#movies-container h3 {
  word-wrap: break-word; /* 긴 단어가 있을 경우 자동으로 줄바꿈 처리 */
  overflow-wrap: break-word; /* 너비를 초과하는 내용에 대해 줄바꿈 처리 */
  max-width: 80%; /* 제목의 최대 너비를 80%로 제한 */
  margin: 0 auto; /* 가운데 정렬 */
  font-size: 1rem; /* 폰트 크기 설정 */
  line-height: 1.2; /* 줄 간격 설정 */
  margin-bottom: 20px; /* 제목 아래 여백 설정 */
}

#movie-api-title {
  color: #eee;
}
