/* 외부 CSS 파일 불러오기 */
@import "./footer.css"; /* 푸터 관련 스타일 */
@import "./header.css"; /* 헤더 관련 스타일 */
@import "./signup.css"; /* 회원가입 관련 스타일 */
@import "./login-box.css"; /* 로그인 박스 관련 스타일 */
@import "./movie.css";
@import "./movies.css"; /* 영화 컨테이너 관련 스타일 */
@import "./pagenation.css";

/* 전체 페이지의 기본 스타일 설정 */
body {
  font-family: Arial, sans-serif; /* 기본 폰트 설정 */
  margin: 0; /* 바디의 모든 마진 제거 */
  padding: 0; /* 바디의 모든 패딩 제거 */
  height: 100%; /* 바디 높이를 전체 창 높이로 설정 */
  display: flex; /* Flexbox 레이아웃 적용 */
  flex-direction: column; /* 요소를 세로 방향으로 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  flex-grow: 1; /* 남은 공간을 채우도록 설정 */
  background-color: #000; /* 배경색을 검은색으로 설정 */
  color: #eee; /* 모든 텍스트 색상을 흰색으로 설정 */
  overflow-y: scroll; /* 항상 세로 스크롤바 표시 */
}

/* 메인 콘텐츠 영역에 대한 스타일 */
main {
  padding: 20px; /* 내부 여백 설정 */
  margin-top: 85px; /* 헤더 아래 공간 확보를 위한 상단 마진 */
  margin-left: 220px; /* 로그인 박스와 겹치지 않도록 왼쪽 여백 설정 */
}

/* 각 특징 영화 및 영화 목록 섹션의 스타일 */
#featured-movie,
#movie-list {
  margin-bottom: 20px; /* 각 섹션 하단 여백 설정 */
}

/* 로딩 메시지 스타일 */
#loading-message {
  position: fixed;
  top: 40%;
  font-size: 35px; /* 폰트 크기 설정 */
  content: "Loading";
}

#loading-message::after {
  display: inline-block;
  width: 60px; /* 충분한 공간 확보 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  content: "";
  animation: loadingAnimation 1s infinite;
}

@keyframes loadingAnimation {
  0%,
  100% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

/* 로딩 메시지 스타일 */
#success-msg {
  position: fixed;
  top: 40%;
  font-size: 35px; /* 폰트 크기 설정 */
}

#success-main a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #eee;
}
